<h1>Destiny 2 Powerful Engram Reset Calendar</h1>

<br>

<div class="daily_alert">
  <div class="grid-container-long">
    <div class="weekly grid-item">
      Weekly Reset occurs in <%= distance_of_time_in_words(DateTime.now, Event.next_by_title("Weekly Reset").start) %>.
    </div>
  </div>
  <div class="grid-container">
    <div class="vangaurd grid-item">
      Vanguard Daily Reset occurs in <%= distance_of_time_in_words(DateTime.now, Event.next_by_title("Vanguard Daily").start) %>.
    </div>
    <div class="gambit grid-item">
      Gambit Daily Reset occurs in <%= distance_of_time_in_words(DateTime.now, Event.next_by_title("Gambit Daily").start) %>.
    </div>
    <div class="crucible grid-item">
      Crucible Daily Reset occurs in <%= distance_of_time_in_words(DateTime.now, Event.next_by_title("Crucible Daily").start) %>.
    </div>
    <div class="heroic grid-item">
      Daily Heroic Adventure reset occurs in <%= distance_of_time_in_words(DateTime.now, Event.next_by_title("Daily Heroic Adventure").start) %>.
    </div>
  </div>
</div>

<div id="calendar"></div>

<br>

<div class="weekly_explain">
  <h2>Items Included in the Weekly Reset:<h2>
  <ul class="grid-container">
    <li class="grid-item">Spider's Bounty</li>
    <li class="grid-item">Raid</li>
    <li class="grid-item">Weekly Crucible</li>
    <li class="grid-item">Weekly Gambit</li>
    <li class="grid-item">Nightfall</li>
    <li class="grid-item">Nightfall High Score</li>
    <li class="grid-item">Clan XP</li>
    <li class="grid-item">Petra's Bounties</li>
    <li class="grid-item">Flashpoints</li>
    <li class="grid-item">Weekly Story Playlist</li>
    <li class="grid-item">Weekly Strikes</li>
    <li class="grid-item">Ikora's Challenge</li>
  </ul>
</div>